*{
	margin: 0;
}


body{
    height:100vh;
    background-size:cover;
    background-position:center;
}

.full-header{
  width: 100%;
  height: 80px;
  background: white;
  margin: auto;
  padding: 10px;
  }

#main-page-heading{
    height:80px;
    background-size:cover;
    background-position:center;
    float:right;
    margin-top:20px;
    margin-right:40px;
}

#main-page-heading ul li{
    display:inline-block;
}

#main-page-heading ul a{
    text-decoration:none;
    color:black;
    padding:5px 20px;
   /* border:1px solid #fff;*/
    transition:0.6s ease;
}

#main-page-heading ul a:hover{
    background-color:#fff;
    color:#ff8080;
}


#main-page-heading ul li.active a{
    background-color:#fff;
    color:red;
}

#main-page-logo{
    background : url("../images/logo.png") no-repeat;
    background-size:100%;
    margin:20px;
    width:140px;
    height:40px;
    float:left;
}

.home-image-container{
    height: 100px;
    width: 100%;
}
#home-page-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#footer{
    position:absolute;
    top:95%;
    border:1px solid white;
    width: 100%;
    height: 50px;
    background: white;
    margin: auto;


}
#right-reserved h4{
    float:right;
    margin-right:600px;
    color: #ff8080;
    font-size:14px;
}
#privacy a{
    float:right;
    margin-right:650px;
    color:#ff8080;
    font-size: 12px;
}
/*Product page css*/

.card-price{
    color: green;
    font-weight: 800;
}
.card-title{
    font-weight:800 ;
}

.sendemail-popup{
    background:rgba(0,0,0,0.6);
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sendemail-pupup-content{
    height: 250px;
    font-weight: 500px;
    background: #fff;
    padding:20px;
    border-radius: 5px;
    position: relative;
}
.sendemail-pupup-content input{
    margin:20px auto;
    display: block;
    width: 50%;
    padding:8px;
    border: 1px solid;
}

