{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ecommerce</title>
<link rel="stylesheet" media="screen" href="{% static "shop/css/frontend.css" %}">
<script src="{% static "shop/js/jquery-1.9.0.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.infieldlabel.min.js" %}" type="text/javascript"></script>
</head>
<body style="zoom: 1;">

	<div class="full-header">
	<div id="main-page-logo">
	</div>

	<div id="main-page-heading">
			<div>
				<ul>
					<li class="active"><a href=""> Home  </a></li>
					<li> <a href=""> About  </a> </li>
					<li> <a>SignUp</a></li>
					<li><a> SignIn  </a></li>
				</ul>
			</div>
	</div>

	</div>
		{% block content %} {% endblock %}
	</div>

	<div id="footer">
		<div id="right-reserved"> <h4>©Farhat All rights reserved</h4></div>

		<!--<div id="footer-left">
			<div id="quote"> xyz </div>
			<div id="byname">By: xyz</div>
		</div>-->

		<div id="privacy">
			<a href="">Privacy Policy</a>
		</div>
	</div>

</body>
</html>